.container{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero{
  /* text-align: center; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: 2px dotted darkolivegreen;
  padding: 20px;
  width: 210px;
  height: 500px;
}